doctype html
html
    head
        title Nodecamp with Authentication
        include ./partials/stylesheets

    body
        include ./partials/header
        include ./partials/messages
        block content
        include ./partials/footer